@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);



@font-face {

    font-family: 'GongGothicBold';

    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicBold.woff') format('woff');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'TmoneyRoundWindExtraBold';

    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'yg-jalnan';

    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');

    font-weight: normal;

    font-style: normal;

}

@font-face {

    font-family: 'NanumSquareRound';

    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');

    font-weight: normal;

    font-style: normal;

}







* {
    font-size: 0;

}

ul,li,ol,dd {
    list-style: none;

}

/* 레이아웃 */

.section {

    display: flex;

    justify-content: center;

}

.one {

    width: 100%;

}

/* 섹션 색상*/



.one {

    background: #f7f7f6;

}

.two {

    background: #fff;

}

.three {
    background: #ffffff;
}

.five {

    background: #e9e9e9;

}

/* 섹션 01 */

.top_logo {

    padding: 60px 0px 70px 0px;

}

.top_logo img{

    width: 234px;

    height: 37px;

}

.right_main_text p {
  font-size: 36px !important;
  color: white !important;
}
.right_main_text .title {
    font-size: 72px !important;
    color: #FFF500 !important;
}

.main_text p, .four .main_text p span {

    color: #424141;

    font-size: 70px;

    font-weight: 700;

    font-family: 'NanumSquare', sans-serif;

    line-height: 65px;

}

#hero .main_text {
    text-align: right;
}
#hero .secondary_text {
    text-align: right;
}
#hero .sub_text {
    text-align: right;
}
.cust_menu_detail06 {
    text-align: right;
}

#hero .main_text p {
    font-size: 80px;
    line-height: 85px;;
}

.secondary_text {
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
}

.sub_text {
    padding-top: 30px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 40px;
}

.min_blk .sub_text p {
    color: white;
}

.secondary_text p {
    color: #424141;
    font-size: 48px;
    font-family: 'NanumSquareRound';
    letter-spacing: -1px;
    line-height: 56px;
    font-weight: 400;
}

.sub_text p {
    color: #424141;
    font-size: 20px;
    font-family: 'NanumSquareRound';
    letter-spacing: -1px;
    line-height: 26px;
    font-weight: 400;
}

.one_right_content {
    padding: 60px 0px 0px 80px;

}

.downbtn span:nth-child(3) {
    margin-top: 20px;
	padding: 0;
}

.mid_hid, .logo_hid {

    display: none;

}



/* 섹션 02 */

.content_other {

    display: flex;

    justify-content: space-between;

}

.phone_wrap {

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    margin-top: 170px;

    margin-right: 450px;

}

.two_text_pd {

    padding: 120px 0px 0px 0px;

}

.middle img {

    width: 279px;

    height: 467px;

}

.slide_text {

    color: #424141;

    font-size: 18px;

    font-family: 'NanumSquareRound';

    letter-spacing: -1px;

    line-height: 26px; 

    text-align: center;

    white-space: nowrap;

}

.memu_section {

    width: 450px;

    text-align: center;

    margin-top: 50px;

    position: relative;

}



.cust_active {

    position: absolute;

    top: 200px;

    left: 520px;

}

.cust_active ul {

    text-align: left;



}



/* 수정 */

.two_detail_wrap {

    margin-top: 300px;

    margin-left: 100px;

}





/* 섹션 03 */

.three .main_text {

    padding-top: 140px;

}

.three .one_left {

    margin-left: 60px;
    padding: 0px 80px 0px 0px;

}

.three .one_right_content {



}

.three .sub_text {

    padding: 30px 0px 140px 0px;

}



/* 섹션 04 */

.four {
    height: 656px;
    background: #f8f8f8;



}

.four .main_text p, .four .sub_text p, .four .main_text p span {
    color: #000000;

}

.four .one_left_content {
    padding: 80px 0px 0px 0px;


}

.four .one_right_content {
    padding: 80px 0px 0px 0px;


}

.four_bg {

    width: 100%;

    height: 656px;

    position: absolute;

    background: url('../images/section_four_bg.png') center center no-repeat;

}

.four_bg_1065 {

    width: 100%;

    height: 656px;

    position: absolute;

    background: url('../images/section_four_bg02.png') center center no-repeat;

    background-size: cover;

    display: none

}

.four .mid_text {

    color: #f5f5f5;

    font-size: 18px;

    font-family: 'NanumSquareRound';

    letter-spacing: px;

    line-height: 32px;

    font-weight: 300;

    opacity: .5;

}

.middle {

    width: 302px;

    height: 512px;

}

.content_other .left img, .content_other .right img {

    height: 512px;



}



/* 섹션 05 */

.footer_wrap {

    margin: 80px 0px;

}

.five .footer_text span{

    color: #585757;

    font-size: 16px;

    font-family: 'NanumSquareRound';

    letter-spacing: -1px;

    line-height: 32px;

    font-weight: 400;

}

.fotter_ml {

    margin-left: 50px;

}

.fotter_cp {

    letter-spacing: 0px !important;

}



.footer_wrap img {

    width: 114px;

    height: 29px;

}



.Certificate {

    display: flex;

    align-items: center;

    height: 100%;

}

.Certificate {

    display: flex;

    align-items: center;

    height: 100%;

}

.Certificate div {

    width: 127px;

    height: 179px;

}

.Certificate div img {

    width: 100%;

}

.Certificate div:nth-child(1) {

    margin-left: 50px;

}

.Certificate div:nth-child(2) {

    margin-left: 10px;

}

.Certificate div:nth-child(3) {

    margin-left: 10px;

}

.Certificate div:nth-child(4) {

    margin-left: 10px;

}



/* 미디어쿼리 */

@media screen and (max-width: 1700px) { 



    .four_bg {

        display: none

    }

    .four_bg_1065 {

        display: block;

    }





}



@media screen and (max-width: 1070px) { 

    /* .cust_menu_detail01, .cust_menu_detail02, .cust_menu_detail03, .cust_menu_detail04 {

        display: none

    } */



    .four .one_left {

        margin-left: auto;

    }

    .section {

        display: block

    }

    .two_left {

        display: flex;

        justify-content: center;

    }

    /*중앙정렬*/

    .top_logo, .downbtn {

        display: flex;

        justify-content: center;

    }



    .main_text p, .sub_text p {

        text-align: center;

    }

    .one_right_content {

        display: flex;

        justify-content: center;

        padding: 20px 0px;

    }

    .mid_hid {

        display: block;

    }

    .mid_hid ul {

        padding: 30px 0px 80px 0px;

    }

    .min_blk, .min_blk .main_text, .min_blk .sub_text, .min_blk .downbtn {

        display: none;

    }

    .top_logo {

        padding-bottom: 0px;

    }

    .cust_active {

        left: 0;

        display: flex;

        justify-content: center;

        align-items: center;

        width: 100%;

    }

    .five {

        display: block;

    }







    /* 섹션 02 */

    .content_other {

        justify-content: unset;

    }



    .phone_wrap .right {

        margin-left: 2px;

    }



    .memu_section {

        margin-top: 0;

    }



    .cust_active {

        overflow: visible;

        position: absolute;

        top: 750px;

        /*

        left: 50%;

        transform: translate(-50%);

        */



    }

    .cust_num01 {

        left: 70%

    }



    .three .one_left {

        margin-left: -40px;

    }

    .three .one_right_content {

        padding: 60px 0px 0px 0px;

    }

    .three .main_text {

        padding-top: 30px;

    }

    .four .one_left {

        margin-top: 0;

        padding-top: 140px;

    }

    .four .mid_text {

        text-align: center

    }

    .footer_wrap {

        margin: 0;

        padding: 30px 0 30px 50px;

    }

    .four_bg_1065 {

        background: url(../images/section_four_bg03.png);

    }

    .phone_wrap {

        margin-top: 180px;

        margin-right: 0px;

    }

    .gallery-thumbs {



        width: 530px !important;



        height: 1400px !important;

    }

    .two_detail_wrap {

        margin-top: 450px;

    }

    .Certificate {

        padding-bottom: 20px;

    }



}



@media screen and (max-width: 768px) {
    #carouselExampleIndicators1 {
        background-image: url('../images/banner-mobile.png') !important;
    }
    .main_text p, .sub_text p {

        text-align: center;

    }
    .main_text_slide div {
        display: flex;
        justify-content: center;
    }
    .main_text_slide div .main_text_large {
        display: contents;
        font-size: 36px !important;
        line-height: 42px;
    }

    .main_text_slide div .main_text_small {
        display: contents;
        font-size: 18px !important;
        line-height: 21px;
    }
    .cust_menu_detail06 {
        text-align: center;
    }
    .slide_text ul {
        padding: 0 !important;
    }
    .sub_text_slide {
        padding: 0 !important;
    }
    .sub_text_slide p {
        text-align: center !important;
        font-size: 12px !important;
        color: #808285 !important;
    }

    .phone_wrap {

        margin-left: 0px;

        margin-top: 300px !important;

    }

    .cust_active {

        top: 75px;

    }
    .slide_text {

        font-size: 12px;

    }
    .gallery-thumbs {
        height: 600px !important;
    }
    /* .cust_menu_detail01 {

        left: 150%;

    }



    .cust_menu_detail02 {

        left: 50%;

    }

    .cust_menu_detail03 {

        left: -50%;

    }

    .cust_menu_detail04 {

        left: -150%;

    } */



    .four_hid {

        display: none;

    }

}



@media screen and (max-width: 700px) {

    .footer_text span {

        display: block;

    }

    .fotter_ml {

        margin-left: 0;

    }



    .Certificate div img {

        width: 110px;

        height: 155px;

    }

    .Certificate div:nth-child(1) {

        margin-left: 20px;

    }

    .Certificate div:nth-child(2) {

        margin-left: 10px;

    }

    .Certificate div:nth-child(3) {

        margin-left: 10px;

    }

    .Certificate div:nth-child(4) {

        margin-left: 10px;

    }





}



@media screen and (max-width: 532px) {




    .footer_wrap img {

        width: 90px;

        height: 23px;

    }

    .gallery-thumbs {

        padding-top: 40px !important;

    }

    .top_logo img {

        width: 130px;

        height: 21px;

        padding-top: 20px;

    }

    .top_logo{

        padding-top: 10px;

    }

    .one_right_content {

        padding: 10px;

    }

    .one_right_content img {

        width : 300px;

        height: 423.52px;

    }

    .car_img img {

        width : 300px;

        height: 179.77px !important;

    }

    .main_text p {

        font-size: 28px;

        line-height: 35px;

    }

    .sub_text p {

        font-size: 16px;

        line-height: 24px;

    }

    .sub_text {

        padding: 20px 0px;

    }

    .downbtn img {

        width: 130px;

    }



    .swiper-wrapper img {

        width: 200px;

    }

    .middle {

        width: 238px;

        height: 388px;

    }

    .slide_text {

        font-size: 12px;

    }

    .memu_section {

        width: 80%;

    }

    .four .one_left {

        margin-top: 0;

        padding-top: 100px;

    }

    .four_bg_1065, .four {

        height: 500px;

    }

    .three .sub_text {

        padding: 30px 0px 80px 0px

    }

    .five .footer_text span {

        font-size: 14px;

        line-height: 25px;

    }

    .footer_wrap {

        padding: 30px 0 20px 20px;

    }



    .content_top img {

        width: 300px;

    }

    .content_other .left img, .content_other .right img {

        height: 388px;

    }

    .phone_wrap {

        margin-left: 0px;

        margin-top: 320px !important;

    }

    .cust_active {

        top: 55px;

    }

    .gallery-thumbs {

    width: 380px !important;

    }

    .swiper-wrapper {

        width: 100%; 

    }

    .two_detail_wrap {

        margin-top: 270px !important; 

    }

    .three .one_left {

        margin-left: 0px !important;

    }

    .Certificate div img {

        width: 100px;

        height: 141px;

    }

}





@media screen and (max-width: 480px) {

    .Certificate div:nth-child(1) {

        margin-left: 20px;

    }

    .Certificate div:nth-child(2) {

        margin-left: 10px;

    }

    .Certificate div:nth-child(3) {

        margin-left: 10px;

    }



    .Certificate div img {

        width: 100px;

        height: 141px;

    }

    .Certificate div {

        height: 100%;

    }

}



@media screen and (max-width: 440px) {

    .Certificate div img {

        width: 80px;

        height: 113px;

    }

}



@media screen and (max-width: 400px) {

    .main_text p {

        font-size: 23px;

        line-height: 30px;

    }

    .sub_text p {

        font-size: 14px;

        line-height: 26px;

    }

    .sub_text {

        padding: 20px 0px;

    }

    .memu_section {

        width: 95%;

    }



    .three .sub_text {

        padding: 30px 0px 80px 20px;

    }

    .gallery-thumbs {

        width: 340px !important;

        }



        .Certificate div img {

            width: 80px;

            height: 113px;

        }

    .Certificate div {

        height: 100%;

    }

}



@media screen and (max-width: 375px) {
    #carouselExampleIndicators1 .one {
        background-color: unset;
        height: 750px;
    }

    .slide_text {

        font-size: 10px !important;

    }

    .cu_340 {

        left: 10px !important;

    }

    .three .sub_text {

        padding: 30px 0px 80px 40px;

    }

    .three .main_text {

        padding-left: 40px;

    }

    .gallery-thumbs {

        width: 320px !important;

    }

    .Certificate div img {

        width: 70px;

        height: 98px;

    }

    .Certificate div {

        height: 100%;

    }



}

#carouselExampleIndicators1 {
    background-image: url('../images/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#carouselExampleIndicators1 .one {
    background-color: unset;
    height: 750px;
}

#carouselExampleIndicators1 .min_blk {
    height: 100%;
}

.min_blk ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#carouselExampleIndicators1 .downbtn div{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}
.downbtn .downbtn--title {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-bottom: 19px;
    font-weight: 700;
}
.main_text_slide p, .main_text_slide p span {
    color: #424141;
    font-weight: 700;
    font-family: 'NanumSquare', sans-serif;
    line-height: 65px;
}
.main_text_slide .main_text_large {
    font-size: 50px;
    /* line-height: 80px; */
    text-align: right;
    width: 390px;
}
.main_text_slide .main_text_small {
    font-size: 28px;
    line-height: 45px;
    text-align: right;
    width: 390px;
}
.sub_text_slide {
    padding: 5px 0px 40px 0px
}
.sub_text_slide p {
    color: #424141;
    font-size: 16px;
    font-family: 'NanumSquareRound';
    letter-spacing: -1px;
    line-height: 26px;
    font-weight: 400;
    text-align: right;
}
.content_top {
    background: rgba(255, 245, 0, 0.3);
    border-radius: 50px 50px 0px 0px;
    height: 50px;
    width: calc(100% - 0px);
}
.phone_wrap .left {
    width: 10px;
    background: rgba(255, 245, 0, 0.3);
}
.phone_wrap .right {
    width: 10px;
    background: rgba(255, 245, 0, 0.3);
}
.container .row .one_right_content .main_text .para {
    font-size: 48px;
    line-height: 56px;
}
.container .row .one_right_content .main_text .title {
    font-size: 80px;
    line-height: 93px;
}
.container .row .one_right_content .main_text .star {
    line-height: 40px;
    font-size: 16px;
    margin-bottom: 20px;
}

.footer_fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFF500;
    text-align: center;
    z-index: 10;
    display: none;
 }
 .address_mobile {
     display: none;
 }

 @media (min-width: 320px) and (max-width: 480px) {
    .footer_fixed {
        display: block;
    }

    .address_mobile {
        display: block;
    }
    .address_desktop {
        display: none !important;
    }

  }