body,th,td,input,select,textarea,button,pre {
    font-family: 'Noto Sans KR','Roboto', sans-serif;
    color: #000;
}
/* flex */

.flex_bt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}
.flex_row_center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}
.flex_col_center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
.flex_colm {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
}
.flex_end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.cust_flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex_wrap {
    flex-wrap: wrap;
}

.cust_center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
      
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
/* 폰트 크기 */
.fnt30 {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
}
.fnt40 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1px;
}
.fnt20 {
    font-size: 20px;
}
.fnt18 {
    font-size: 18px;
    font-weight:500;
    color:#6C6C6C
}
.fnt16 {
    font-size: 16px;
}
.fnt14 {
    font-size: 14px;
    color:#A2A1A1
}
.fnt12 {
    font-size: 12px;
    color: #A2A1A1;
}
/* 폰트 두께 */
.flight {
    font-weight: 300;
}
.fnomal {
    font-weight: 500;
}
.fbold {
    font-weight: 600;
}
.fhvbold {
    font-weight: 900;
}

/* 폰트 컬러 */
.cust_blue {
    color: #5D5FEF;
}
.cust_darkgray {
    color: #777;
}
.cust_orange {
    color: #FA4D28;
}
.cust_orange {
    color: #FA4D28;
}
.cust_black {
    color: #000;
}
.cust_white {
    color: #fff;
}
/* 라인하이 */
.lh10 {
    line-height: 10px;
}
.lh20 {
    line-height: 20px;
}

.lh25 {
    line-height: 25px;
}
.lh30 {
    line-height: 30px;
}

.lh35 {
    line-height: 35px;
}
.lh40 {
    line-height: 40px;
}

/* 마진 */
.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mt30 {
    margin-top: 30px;
}
.mt40 {
    margin-top: 40px;
}
.mt50 {
    margin-top: 50px;
}
.mt60 {
    margin-top: 60px;
}
.mt70 {
    margin-top: 70px;
}
.mb5 {
    margin-bottom: 5px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb25 {
    margin-bottom: 25px;
}
.mb30 {
    margin-bottom: 30px;
}
.mb50 {
    margin-bottom: 60px;
}
.mb60 {
    margin-bottom: 60px;
}
.mb0 {
    margin-bottom: 0px;
}
.ml5 {
    margin-left: 5px;
}
.ml10 {
    margin-left: 10px;
}
.ml15 {
    margin-left: 15px;
}
.ml20 {
    margin-left: 20px;
}
.ml30 {
    margin-left: 30px;
}
.ml35 {
    margin-left: 35px;
}
.ml38 {
    margin-left: 38px;
}
.ml40 {
    margin-left: 40px;
}
.ml50 {
    margin-left: 50px;
}

.mr10 {
    margin-right: 10px;
}

/* 패딩 */
.pdt50 {
    padding-top: 50px;
}
.pdl25 {
    padding-left: 25px;
}

/* 라인 */
.cust_line {
    border-top: 1px solid #EEEEEE;
}
.detail_line {
    border-bottom: 1px solid #DDDCDC;
    padding: 25px 0px;
}
/* focus */
input:focus {
    outline-color: #5D5FEF;
}
button:focus, input[type=radio] {
    outline: none;
}

/* input */
.cust_input input:read-only, .cust_input02 input:read-only, .cust_input03 input:read-only {
    width: 290px;
    height: 63px;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    color: #6C6C6C;
    padding-left: 25px;
}
.cust_input input, .cust_input02 input, .cust_input03 input {
    width: 290px;
    height: 63px;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    color: #6C6C6C;
    padding-left: 25px;
}
.cust_input02 input {
    width: 100%;
}
.cust_input03 input {
    width: 1070px;
}
.cust_input input:focus, .cust_input02 input:focus, .cust_input03 input:focus {
    border: 2px solid #5D5FEF;
}
.cust_input input::placeholder, .cust_input02 input::placeholder, .cust_input03 input::placeholder {
    font-size: 18px;
    font-weight: 400;
    color:#C6C6C6;
}
.apply_child {
    font-size: 16px;
}

/* 텍스트 area*/
.cust_textare_xl {
    width: 100%;
    background: #f8f8f8;
    border: 1px #ccc solid;
    border-radius: 10px;
    font-size: 16px;
    color: #6C6C6C;
    padding: 30px;
}
/* 라디오 버튼 */
.cust_radio div {
    margin-bottom: 15px;
}
.cust_radio div:first-child {
    margin-top: 20px;
}
.cust_radio div:last-child {
    margin-bottom: 0px;
}
.cust_radio div label{
    color: #444;
    margin-left: 5px;
}

/* 컬러 */
.cust_color_purple {
    background: #B85DEF;
}
.cust_color_pink {
    background: #F178B6;
}
.cust_color_black {
    background: #000;
}
.cust_color_white {
    background: #fff;
    border: 1px solid #C4C4C4;
}

/* 버튼 */
.cust_fill_btn_xl {
    width: 348px;
    height: 90px;
    background: #5D5FEF;
    border-radius: 10px;;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: -1px;
}

.cust_out_btn_xl {
    width: 344px;
    height: 90px;
    border: 2px solid #5D5FEF;
    border-radius: 10px;;
    color: #5D5FEF;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}

.cust_out_btn_lg, .cust_out_btn_sm {
    width: 260px;
    height: 62px;
    background: #fff;
    border: 2px solid #5D5FEF;
    border-radius: 10px;;
    color: #5D5FEF;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.cust_fill_btn_lg, .cust_fill_btn_sm {
    width: 264px;
    height: 62px;
    background: #5D5FEF;
    border-radius: 10px;;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.cust_fill_btn_sm {
    width: 200px;
    height: 63px;
    font-weight: 500;
}
.cust_out_btn_sm {
    width: 200px;
    height: 63px;
    font-weight: 500;
}
.mypage_userinfo_btn, .mypage_userout_btn {
    width: 200px;
    height: 43px;
    border-radius: 25px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 500;;
}
.mypage_userout_btn {
    background: #C2C3D0;
}
.mypage_status_bar {
    width: 150px;
    height: 43px;
    border: 2px solid #5D5FEF;
    border-radius: 25px;
    color: #5D5FEF;
    font-size: 16px;
    font-weight: 500;;
}
.mypage_detailview_btn {
    width: 200px;
    height: 43px;
    border-radius: 25px;
    background-color: #5D5FEF;
    color: #fff;
    font-size: 16px;
    font-weight: 500;;
}



/* 셀렉트 */
.cust_select {
    width: 100%;
    height: 63px;
    border: 2px solid #5D5FEF;
    border-radius: 10px;
    outline: none;
    padding-left: 25px;
    font-size: 18px;
    font-weight: 500;
    color:#5D5FEF;
    -webkit-appearance: none;  /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    background: url('../images/cust_select_arr.png') no-repeat 95% 50%;  /* 화살표 모양의 이미지 */
}

.cust_select_mid {
    width: 290px;
    height: 63px;
    border: 2px solid #5D5FEF;
    border-radius: 10px;
    outline: none;
    padding-left: 25px;
    font-size: 18px;
    font-weight: 500;
    color:#5D5FEF;
    -webkit-appearance: none;  /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    background: url('../images/cust_select_arr.png') no-repeat 95% 50%;  /* 화살표 모양의 이미지 */
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
.cust_select::-ms-expand {
    display: none;
}

.cust_select option {
    height: 60px;
}

/* disable Div*/
.cust_disable_div {
    width: 100%;
    height: 63px;
    background: #EFEFF8;
    border-radius: 10px;
    color:#5D5FEF;
    font-size: 18px;
    font-weight: 500;
}

.cust_disable_div_sm {
    width: 100%;
    height: 53px;
    background: #EEEEEE;
    border-radius: 10px;
    color:#444;
    font-size: 14px;
    font-weight: 400;
}


/* 더보기 */
.more_btn, .allprod_btn {
    text-decoration: underline;
    color:#444;
    font-weight: 700;
}
.allprod_btn {
    color: #5D5FEF;
}
.more_btn img, .allprod_btn img {
    position: relative;
    top: -1px;
    margin-left: 5px;
}
/* 헤더 */
.cust_header_wrap {
    width: 100%;
    height: 130px;
    background: #fff;
    border-bottom: 1px solid #E6E6E6;
}
.cust_header_cnt_wrap {
    width: 1400px;
    justify-content: space-between;
}
.cust_header_logo a span {
    color: #000;
}
.cust_header_logo span {
    font-size: 30px;
    font-weight: 700;
}
.cust_header_logo span:last-child {
    font-weight: 300;
}
.cust_gnb_menu_wrap {
    align-items: center;
}
.cust_gnb_menu {
    position: relative;
    top: 10px;
    width: 820px;
    justify-content: space-around;
}
.cust_gnb_menu li {
    font-size: 18px;
    font-weight: 500;
    height: 42px;
}

/* */
.cust_gnb_menu li a{
    position: relative;
}
.cust_gnb_menu li a:before {
    content : '';
    position: absolute;  /*before를 절대위치*/
    background-color:#5D5FEF;
    height: 4px;
    width : 0;
    bottom: -15px;       /*bottom을 주어, 글자 밑에 위치시킴*/       
    transition: 0.5s;    /*가상클래스에 이벤트 발생시 시간 지정*/
    left : 50%;         /*만약 왼쪽에서부터 커지게하려면-> left를 0으로 두면 됨*/
    transform: translateX(-50%);
}
.cust_gnb_menu li a:hover:before {
    width : 100%;
}
.cust_gnb_menu_active {
   border-bottom: 4px solid #5D5FEF;
}
/**/

.cust_header_active {
    border-bottom: 3px solid #5D5FEF;
}
.cust_header_icon_menu a{
    margin-left: 30px;
}

/* footer */
.footer_wrap {
    height: 300px;
    background: #EEEEEE;
}
.footer_cnt {
    width: 1400px;
}
.footer_btn {
    width: 170px;
    height: 43px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background: #000;
    border-radius: 25px;
}
.footer_addr {
    font-size: 16px;
    font-weight: 300;
    color: #6B6B6B;
    line-height: 35px;
}



/* 페이징 */
.cust_paging {
    width: 40px;
    height: 40px;
    font-family: 'Roboto';
    color: #5D5FEF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50%;
    border:2px solid #5D5FEF;
    cursor: pointer;
}
.cust_paging_active {
    background: #5D5FEF;
    color: #fff
}

/* 컨텐츠 공용 */
.cust_cont_bg {
    background: #F4F4F4;
    padding-bottom: 100px;
}
.cust_cont_wrap {
    width: 1400px;
}
.cust_block_wrap {
    background: #fff;
    border-radius: 25px;
    padding: 50px;
}

.cust_list_wrap {
    width: 1300px;
    background: #fff;
    border-radius: 25px;
    padding: 50px;
}
.cust_block50 {
    width:40%;
}
.cust_block50 ul li {
    border-bottom: 1px solid #DDDCDC;
    padding: 20px 0px;
}
.cust_block45 {
    width:48%;
}
.cust_block45 ul li {
    padding: 10px 40px;
}
.cust_block45 ul li:nth-child(1) {
    padding: 20px 40px;
}
.cust_block45 ul li:nth-child(2) {
    padding-top: 30px;
}
.cust_block45 ul li:nth-child(9) {
    padding-bottom: 30px;
}


.bd0 {
    border: 0 !important;
}

/* page 추천 시작 */
.page_subtxt {
    color: #A2A1A1;
    letter-spacing: -1px;
}
.page_list_wrap {
    position: relative;
    width: 240px;
    height: 330px;
    padding: 25px;
    border-radius: 25px;
    border: 2px solid #E6E6E6;
    margin-top: 50px;
    cursor: pointer;
}

.page_list li:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}
.page_list li:nth-child(2) img {
    width: 200px;
    height: 200px;
}
.page_list_area .page_list_wrap {
    margin-left:41px
}
.page_list_area .page_list_wrap:nth-child(4n+1) {
    margin-left: 0px;
}

.media_aside_icon {
    display: none;
}
/* 미디어 쿼리 */
/* 1430 */
@media screen and ( max-width:1430px) {

    .cust_header_cnt_wrap {
        width: 100%;
    }

    .cust_gnb_menu {
        width: 100%;
    }

    .cust_gnb_menu li {
        margin-left: 20px;
    }

    .cust_gnb_menu li:nth-child(1){
        display: none;
        margin-left: 0;
    }
    .cust_gnb_menu li:nth-child(3){
        display: none;
    }
    .cust_slide_wrap {

    }
    .cust_review_wrap {

    }
    .cust_cont_wrap {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -ms-flex-direction: column;
        flex-direction: column;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
    }
    .media_main_silde {
        justify-content: center;
        flex-wrap: wrap;
    }
    .cust_review_wrap {
        width: 633px;
        margin-top: 50px;
    }
    /* MD추천 */
    .cust_list_wrap {
        width: 633px;
    }
    .page_list_area .page_list_wrap:nth-child(2n+1) {
        margin-left: 0px;
    }
    .cust_tab {
        font-size: 15px;
        width: 200px;
        height: 46px;
        margin-left: 10px;
    }
    .media_main_banner {
        display: none;
    }
    /* footer */
    .media_footer_btn {
        display: block;
    }
    .footer_btn {
        margin-top: 20px;
    }
    .footer_cnt {
        width: 100%;
    }
    .footer_wrap {
        padding: 30px 0px 20px 20px;
    }
}

/* 850 */
@media screen and ( max-width:850px) {
    /* 헤더 컨텐츠 패딩 */
    .cust_header_cnt_wrap {
        padding: 0 20px;
    }

    .cust_header_logo span {
        font-size: 25px;
    }
    .cust_gnb_menu li {
        font-size: 16px;
    }
    .cust_gnb_menu li:nth-child(2) {
        margin-left: 0;
    }
    .cust_header_icon_menu a {
        margin-left: 10px;
    }
    .cust_header_icon_menu > a > img {
        width: 20px;
        height: 20px;
        position: relative;
        top: 1px;
    }
    .footer_btn {
        width: 150px;
    }

}

/* 768 */
@media screen and ( max-width:768px) {
    .cust_header_cnt_wrap{
        display: block;
        padding: 0 10px;
    }
    .cust_header_icon_menu {
        display: none;
    }
    .cust_gnb_menu {
        justify-content: start;
    }
    .cust_header_cnt_wrap {
        height: 100%;
    }
    .cust_header_logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    .cust_gnb_menu_wrap {
        margin-top: 16px;
    }

    /* 슬라이드 */
    .cust_slide_wrap {
        width: 400px;
        height: 280px;
    }
    .cust_block_wrap {
        padding: 30px;
    }

    /* 구매후기 */
    .cust_review_wrap {
        width: 400px;
        margin-top: 20px;
    }
    .media_main_review, .media_main_recm {
        font-size: 20px;
    }
    .review_title {
        font-size: 14px;
    }
    .review_sub_title {
        font-size: 12px;
    }
    .review_date_txt {
        font-size: 11px;
    }
    /* MD 추천 */
    .cust_list_wrap {
        width: 400px;
        margin-top: 20px;
        padding: 30px;
    }
    .page_subtxt {
        font-size: 11px;
    }
    .page_list_wrap {
        width: 160px;
        height: 260px;
        padding: 10px
    }
    .page_list_area .page_list_wrap {
        margin-left: 10px;
    }
    .page_list_area {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .page_list li:nth-child(2) img {
        width: 100%;
        height: 100%;

    }
    .page_list > li:nth-child(1) > img {
        width: 20px;
        height: 20px;
    }
    .media_main_title {
        font-size: 16px;
    }
    .media_main_mitxt {
        font-size: 12px;
    }
    .media_main_bigtxt {
        font-size: 14px;
    }
    .media_main_txtmt {
        margin-top: 0;
    }
    /* 페이징 */
    .cust_paging {
        width: 20px;
        height: 20px;
        font-size: 12px;
    }
    .media_main_pt30 {
        padding-top: 30px;
    }
    /* 최신 스마트폰 */
    .cust_tab {
        font-size: 13px;
        width: 200px;
        height: 36px;
    }
    .allprod_btn_wrap {
        display: none;
    }
    .allprod_btn {
        font-size: 11px;
    }
    .media_main_tab {
        margin-top: 30px;
    }
    .cust_cont_bg {
        padding-bottom: 80px;
    }
    /* footer */
    .media_footer_logo {
        justify-content: start;
    }
    .footer_btn {
        width: 100px;
        font-size: 12px;
        height: 33px;
    }
    .footer_addr {
        font-size: 12px;
        line-height: 25px;
    }
}

/* 500 */
@media screen and ( max-width:530px) {
    /* 슬라이드 */
    .cust_block_wrap {
        padding: 30px;
    }
    .cust_slide_wrap {
        width: 340px;
        height: 230px;
    }
    .cust_review_wrap {
        width: 340px;
    }
    .cust_list_wrap {
        width: 380px;
        padding: 30px 10px;
    }
    .page_list_wrap {
        width: 150px;
        height: 245px;
        margin-top: 20px;
    }
    .media_main_title {
        font-size: 14px;
    }
    .media_main_mitxt {
        font-size: 11px;
    }
    .media_main_bigtxt {
        font-size: 13px;
    }
    .tab_sk, .tab_kt, .tab_lg, .tab_etc {
        justify-content: center;
    }
    /**/
    .review_date_txt {
        display:  none;
    }
    .review_title, .review_sub_title {
        width: 186px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .cust_cont_wrap {
        margin-top: 20px;
    }
    /* footer */
    .media_footer_logo {
        justify-content: start;
    }
    .footer_btn {
        width: 80px;
        font-size: 11px;
        height: 33px;
        margin-left: 5px;
    }
    .footer_addr {
        font-size: 12px;
        line-height: 25px;
    }
    .footer_addr span {
        display: block;
    }
    .footer_addr span {
        margin-left: 0;
    }
    .footer_wrap {
        height: unset;
    }


}

/* 430 */
@media screen and ( max-width:400px) {
    .cust_gnb_menu li {
        font-size: 14px;
    }
    .cust_slide_wrap {
        width: 280px;
        height: 200px
    }
    .cust_block_wrap {
        padding: 30px 20px;
    }
    .cust_review_wrap {
        width: 280px;
    }
    .media_main_review, .media_main_recm {
        font-size: 16px;
    }
    .more_btn {
        font-size: 12px;
    }
    .cust_review_pic img {
        width: 60px;
        height: 60px;
    }
    /* md 추천 */
    .cust_list_wrap {
        width: 280px;
        padding: 30px 20px;
    }
    .page_list_wrap {
        width: 220px;
        height: 325px;
        margin-top: 20px;
    }
    .page_list_area .page_list_wrap {
        margin-left: 0;
    }
    .media_main_title {
        font-size: 16px;
    }
    .media_main_bigtxt {
        font-size: 15px;
    }
    .cust_tab {
        font-size: 11px;
        height: 26px;
        margin-left: 3px;
    }
    /* footer */
    .footer_wrap {
        padding: 30px 0px 20px 10px;
    }

    .footer_btn {
        width: 70px;
        font-size: 10px;
    }
    
}

/* 400 */
@media screen and ( max-width:400px) {
    .cust_gnb_menu li {
        font-size: 12px;
    }
}

/* 350 */
@media screen and ( max-width:350px) {
    .cust_gnb_menu li {
        margin-left: 10px;
    }
}